<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Leave Type</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/laps.css" th:href="@{/css/laps.css}" />
</head>
<body>
<div th:replace="/fragments/adminmain :: topbar">
</div>
<div th:replace="/fragments/adminmain :: sidebar">
</div>
<div class="currentview">
<div class="viewheader">
	<h1>Update Leave Type</h1>
	<div class="currentviewinmessage" th:utext="${msg}"></div>
</div>

<div class="viewtable">

 <form class="manageform" th:action="@{'/mlt/' + ${leaType.id} + '/updateleavetype'}" method="post">
    <table class="detailview">
	  <tr class="detailview">
      	<th class="detailview">Leave Type Id</th>
      	<td class="detailview" th:utext="${leaType.id}">Leave Type Id</td>
      </tr>
      <tr class="detailview">
      	<th class="detailview">Leave Type Name</th>
      	<td class="detailview"><input type="text" size="50" name="leaveTypeName" th:value="${leaType.leaveTypeName}"></td>
      </tr>
      <tr>
      <th class="detailview" >Update</th>
        <td class="detailview">
        	<button class="detailview" type="submit" name="process" th:value="'Save Changes'">Save Changes</button>
  			<button class="detailview" type="submit" name="process" th:value="'Cancel Changes'">Cancel Changes</button>
  			<button class="detailview" type="submit" name="process" th:value="'Delete Leave Type'">Delete Leave Type</button>
  		</td>
      </tr>
    </table>
    </form>
   
</div>
</div>

</body>
</html>