<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Leave Details</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/laps.css" th:href="@{/css/laps.css}" />
</head>
<body>
<div th:replace="/fragments/staffmain :: topbar">
</div>
<div th:replace="/fragments/staffmain :: sidebar">
</div>
<div class="currentview">
<div class="viewheader">
	<h1 th:utext="'View Leave Details'">View Leave Details</h1>
	<div class="currentviewinmessage" th:utext="${msg}"></div>
</div>

<div class="viewtable">

    <table class="detailview">
      <tr class="detailview">
      	<th class="detailview">Leave ID</th>
      	<td class="detailview" th:utext="${leave.leaveId}"></td>
      </tr>
      <tr class="detailview">
      	<th class="detailview">Leave Type</th>
      	<td class="detailview" th:utext="${leave.leaveType.leaveTypeName}"></td>
      </tr>
      <tr class="detailview">
		<th class="detailview">Start Date</th>
		<td class="detailview" th:utext="${#temporals.format(leave.startDate, 'dd-MMM-yyyy')}"></td>
      </tr>
      <tr class="detailview">
      	<th class="detailview">End Date</th>
		<td class="detailview" th:utext="${#temporals.format(leave.endDate, 'dd-MMM-yyyy')}"></td>
      </tr>
      <tr class="detailview">
		<th class="detailview">No of Days</th>
		<td class="detailview" th:utext="${leave.duration}"></td>
	  </tr>
      <tr class="detailview">
		<th class="detailview">Reason</th>
		<td class="detailview" th:utext="${leave.reason}"></td>
	  </tr>
	  <tr class="detailview">
		<th class="detailview">Work Dissemination</th>
		<td class="detailview" th:utext="${leave.handover}"></td>
	  </tr>
	  <tr class="detailview">
		<th class="detailview">Contact No</th>
		<td class="detailview" th:utext="${leave.contactNo}"></td>
      </tr>
      <tr class="detailview">
		<th class="detailview">Remark</th>
		<td class="detailview" th:utext="${leave.remark}"></td>
      </tr>
      <tr class="detailview">
		<th class="detailview">Status</th>
		<td class="detailview" th:utext="${leave.status}"></td>
      </tr>
	  <tr class="detailview" th:if="${leave.status != 'Deleted' or leave.status != 'Rejected'}">
		<th class="detailview">Update</th>
		<td class="detailview"> 
		<a href="/vplh/leaveId/update" th:href="@{'/vplh/' + ${leave.leaveId} + '/update'}" th:if="${leave.status == 'Applied' or leave.status == 'Updated'}">
		<button th:utext="${'Update'}"></button></a>
		<a href="/vplh/leaveId/delete" th:href="@{'/vplh/' + ${leave.leaveId} + '/delete'}" th:if="${leave.status == 'Applied' or leave.status == 'Updated'}">
		<button th:utext="${'Delete'}"></button></a>
		<a href="/vplh/leaveId/cancel" th:href="@{'/vplh/' + ${leave.leaveId} + '/cancel'}"  th:if="${leave.status == 'Approved'}">
		<button th:utext="${'Cancel'}"></button></a>
		<a href="/vplh/list" th:href="@{'/vplh/list'}"><button th:utext="'Back'"></button></a>
		</td>
	  </tr>
	</table>
</div>
</div>

</body>
</html>